
<header class="todo-header">
  <div></div>
  <div class="header-title">TODO Lists</div>
  <div>
    <button mat-icon-button (click)="this.toggleAddList.set(true)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</header>

@if(this.toggleAddList()) {
  <form class="add-list-form" [formGroup]="addListForm" (ngSubmit)="createList()">
    <mat-form-field>
      <mat-label>Nom de la liste</mat-label>
      <input matInput name="name" formControlName="name">
    </mat-form-field>
    <input type="submit">
  </form>
}
