<div class="align">
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selectedList" (selectionChange)="onChange($event.value)">
      <mat-option>Aucune</mat-option>
      @for (list of lists; track $index) {
        <mat-option value="{{list.ID}}">{{list.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

    <button mat-fab aria-label="Add new list" class="add-list" (click)="toggleAdd()">
      @if (this.displayAddList()) {
        x
      }

      @if (!this.displayAddList()) {
        +
      }
    </button>

    @if (this.listState().selectedList && !this.displayAddList()) {
      <button
        mat-fab
        aria-label="Delete list"
        class="add-list"
        (click)="deleteList()">
        x
      </button>
    }
</div>

@if (this.displayAddList()) {
  <form [formGroup]="addList" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Nom de la liste</mat-label>
      <input matInput name="name" formControlName="name">
    </mat-form-field>

    <input mat-flat-button type="submit" />
  </form>
}
