<div class="list-item">
  <div class="list-title">
    {{ list.name }}
    <button mat-icon-button (click)="deleteList(list)">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="list-task-container">
    @for (task of list.tasks; track $index) {
      <app-task [task]="task"></app-task>
    }

    <!-- Allow multiple task to be added -->
    @if (addTask) {
      <div>
        <form [formGroup]="addList">
          <mat-form-field>
            <mat-label>Description de la tâche</mat-label>
            <input matInput id="name" formControlName="name">
          </mat-form-field>
          @if(addList.get('name').invalid && (addList.get('name').touched || addList.get('name').dirty)) {
            <div style="color: red">Veuillez renseigner ce champ !</div>
          }
        </form>
      </div>
    }
  </div>

  <div class="list-footer">
    <!-- <button mat-raised-button>Voir plus</button> -->
    @if(addTask) {
      <button (click)="sendForm()" mat-flat-button>Créer les tâches</button>
      <button mat-raised-button (click)="cancel()">Annuler</button>
    } @else {
      <button mat-raised-button (click)="toggleAddTask()">Ajouter une tâche</button>
    }
  </div>
</div>
