:root {
  --dark-blue: #21244D;
  --orange: #E07230;
  --orange-100: rgba(224, 114, 48, 10%);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.align {
  display: flex;
  justify-content: center;
}